# --- Arquivos de Compilação (Obrigatório ignorar) ---
target/
*.class

# --- IDEs e Configurações  ---
.vscode/
.idea/
*.iml
.settings/
.classpath
.project
.DS_Store

# --- Arquivos Gerados pelo Código  ---
downloads/
consolidado.csv
consolidado_despeses.zip
*.zip
*.log